---
import { getAllPosts, getAllTags, getRankedPosts } from '@/lib/notion/client.ts'
import type { Post } from '@/lib/interfaces'
import Layout from '@/layouts/Layout.astro'
import NoContents from '@/components/NoContents.astro'
import PostCard from '@/components/PostCard.astro'
import Pagination from '@/components/Pagination.astro'

interface PaginateOptions {
  pageSize: number
}

interface PaginatedPaths {
  paths: Array<{ params: { page: string[] } }>
  fallback: boolean
}

interface GetStaticPathsContext {
  paginate: (items: Post[], options: PaginateOptions) => PaginatedPaths
}

export async function getStaticPaths({ paginate }: GetStaticPathsContext) {
  const allPosts = await getAllPosts()
  const pageSize = 10
  return paginate(allPosts, { pageSize })
}

interface Props {
  page: {
    data: Post[]
    currentPage: number
    totalPages: number
    url: {
      prev: string | undefined
      next: string | undefined
    }
  }
}

const { page }: Props = Astro.props
const { currentPage, totalPages, url } = page
const [rankedPosts, tags] = await Promise.all([getRankedPosts(), getAllTags()])
---

<Layout
  title={`Posts ${currentPage}/${totalPages}`}
  path={`/posts/${currentPage}`}
>
  <div slot="main" class="container mx-auto px-4 py-8">
    {
      page.data ? (
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 max-w-8xl mx-auto">
          {page.data.map((post: Post) => (
            <PostCard post={post} />
          ))}
        </div>
      ) : (
        <NoContents />
      )
    }

    <footer class="mt-12">
      <Pagination {...page} />
    </footer>
  </div>
</Layout>
