---
import { type Post } from '../lib/interfaces.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props
---

<div class="text-gray-800">
  <p>{post.Excerpt ? post.Excerpt : ''}</p>
</div>
